.galeria {
  grid-column: 1 / 4-1;
}

.wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}

.slide {
  display: flex;
  transform: translate3d(0px, 0px, 0px);
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 10px;
  overflow: hidden;
  opacity: .5;
  transform: scale(.8);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.custom-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 1 / -1;
}

.custom-controls li {
  cursor: pointer;
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  transition: .3s;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1.2);
}

